.blender-showcase-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    column-gap: 24px;
    row-gap: 16px;

    width: 1320px;
    height: 3136px;

    margin: 0 auto 180px;
}

.blender-showcase-grid-item {
    height: 372px;
    width: 648px;
}

.showcase-image {
    height: 372px;
    width: 648px;
}