.blender-showcase-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    row-gap: 25px;
    column-gap: 25px;

    width: 1320px;

    margin: 0 auto 200px;
}

.blender-showcase-grid-item {
    height: 372px;
    width: 635px;
}

.showcase-image {
    height: 372px;
    width: 648px;
}