.proficiencies-div {
    display: grid;
    grid-template-columns: 32px auto 260px;
    width: 500px;
    margin: 20px auto;
}

.proficiency-language {
    width: 450px;
}

.proficiency-logo {
    width: 32px;
    height: 32px;

    float: left;
}

.proficiencies-title {
    font-weight: bold;
    font-size: 20px;
    color: black;

    float: left;
    
    margin: 4.5px 0 4.5px;
}

.proficiencies-image {
    width: 32px;
    height: 32px;

    margin: 0 10px;
}